@import url(_map/lead__image_map.css);

.lead__image {
  background-image: url(../../../images/lead_girl_foto.svg);
  background-repeat: no-repeat;
  height: 615px;
  margin: 0 auto;
  width: 984px;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}
