.place__link {
  font-size: 18px;
  line-height: 22px;
}
@media screen and (min-width: 320px) {
  .place__link {
    color: #2a2c2f;
    height: 0;
    pointer-events: none;
  }
}

@media screen and (min-width: 768px) {
  .place__link {
    height: auto;
    pointer-events: fill;
    color: white;
    transition: opacity 1.5s ease-out;
  }
  .place__link:hover {
    opacity: 0.8;
  }
}
