.lead__image_map {
  background-image: url(../../../../images/lead_map.svg);
  background-size: contain;
  margin: 0 auto;

  text-align: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 320px) {
  .lead__image_map {
    width: 304.74px;
    height: 85.53px;
    margin-top: 29.34px;
  }
}

@media screen and (min-width: 768px) {
  .lead__image_map {
    width: 731.38px;
    height: 205.26px;
    margin-top: 70.41px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__image_map {
    width: 883.76px;
    height: 248.02px;
    margin-top: 121.29px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image_map {
    height: 262.99px;
    width: 937.09px;
    margin-top: 90.21px;
  }
}
