@import url(_url-heading/place__website_url-heading.css);
@import url(_link/place__website_link.css);

.place__website {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) {
  .place__website {
    height: 0;
  }
}

@media screen and (min-width: 768px) {
  .place__website {
    height: auto;
    margin-top: 30px;
    margin-left: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .place__website {
    margin-left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place__website {
    margin-left: 40px;
  }
}
